<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.fortynineunion.moolah" android:versionCode="1">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
	<application android:label="moolah" android:icon="@drawable/Icon" android:theme="@android:style/Theme.Holo.Light"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>